<div class="banner" style="background-image: url('<%= cocktail_url(@cocktail) %>');">
  <div class="banner-content">
    <h1><%= @cocktail.name %></h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <h3>Recipe</h3>
      <table class="table table-bordered">
        <tbody>
          <thead>
            <th>Ingredient</th>
            <th>Description</th>
            <th>Action</th>
          </thead>
          <% @cocktail.doses.each do |dose| %>
            <tr>
              <td><%= dose.ingredient.name %></td>
              <td><%= dose.description %></td>
              <td>
                <%= link_to dose_path(dose), method: :delete, data: {confirm: "Are you sure?"} do %>
                  <i class="fa fa-trash destroy_dose"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to "back to cocktails", cocktails_path %>
    </div>
    <div class="col-sm-12 col-md-6">
      <%= render "shared/form", cocktail: @cocktail, dose: @dose, class: "dose-form" %>
    </div>
  </div>
  <div>
    <h4 class="index_title">Reviews</h4>
    <% if @cocktail.reviews.empty? %>
      <p>Be the first to leave a review!</p>
    <% else %>
      <ul class="ratings">
        <% @cocktail.reviews.each do |review| %>
          <li class="doses">
            <span>
              <% counter = 0 %>
              <% 5.times do %>
                <i class="fa <%= review.rating > counter ? 'fa-star' : 'fa-star-o' %>"></i>
                <% counter += 1 %>
              <% end %>
            </span>
            <%= review.content %>
            <%= link_to review_path(review), method: :delete do %>
              <i class="fa fa-trash destroy_review"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <%= render 'shared/form_review', cocktail: @cocktail, review: @review %>
</div>



